test/test_remote_fixtures/package_simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified">

  <xs:element name="package">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="project" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
